<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <a class="ml-4">
    <img src="https://i.ibb.co/S3hVgjB/icons8-carro-60.png" width="40" height="40" alt="icons8-carro-60">
  </a>
  <div class="collapse navbar-collapse bg-dark mr-5" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link ml-4" href="#">Home<span class="sr-only"></span></a>
      </li>
      <li><a class="nav-link ml-4" href="#">Perfil<span class="sr-only"></span></a>
      </li>
    </ul>
    <form class="form-inline mx-auto">
      <input class="form-control mr-5 border border-dark rounded-pill" type="search" placeholder="Buscar"
        aria-label="Search">
    </form>
  </div>
</nav>